<div class="container-fluid">
  <div class="card">
    <div class="card-body">
  <h2 class="text-center">Create a new Quote</h2>
  <hr>
  <form>
      <div class="form-group">

          <label for="quote">Enter Your Quote:</label>
          <input type="text" required class="form-control" id="quote">

      </div>
      <div class="form-group">

          <label for="author">Author of the quote:</label>
          <textarea class="form-control" id="author" rows="4" required></textarea>

      </div>
      <div class="form-group">
          <label for="author">Submitted by:</label>
          <input type='text' id="name" required>

      </div>
  </form>
</div>
